<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Cache Hit</th>
      <th>Download Time</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <th><%= image_tag "http://image.apartmentguide.com/#{photo.server_url}", width: '75' %></th>
        <td><%= photo.cache_hit %></td>
        <td><b><%= photo.download_time.round(2) %> seconds</b></td>
        <td><b><%= photo.size %> bytes</b></td>
        <td><%= link_to 'Show', photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
