<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Cachehit</th>
      <th>Downloadtime</th>
      <th>Endtime</th>
      <th>Starttime</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <th><%= image_tag "http://image.apartmentguide.com/#{photo.serverURL}", width: '75' %></th>
        <td><%= photo.cacheHit %></td>
        <td><b><%= photo.downloadTime.round(2) %> seconds</b></td>
        <td><%= photo.endTime %></td>
        <td><%= photo.startTime %></td>
        <td><b><%= photo.size %> bytes</b></td>
        <td><%= link_to 'Show', photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
