<p id="notice"><%= notice %></p>

<p>
  <strong>Cache Hit:</strong>
  <%= @photo.cache_hit %>
</p>

<p>
  <strong>Download Time:</strong>
  <%= @photo.download_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @photo.end_time %>
</p>

<p>
  <strong>Response Headers:</strong>
  <%= @photo.response_headers %>
</p>

<p>
  <strong>Server URL:</strong>
  <%= @photo.server_url %>
</p>

<p>
  <strong>Size:</strong>
  <%= @photo.size %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @photo.start_time %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
