<p id="notice"><%= notice %></p>

<h1>Photo Stats</h1>

<p>
  <%= image_tag "http://image.apartmentguide.com/#{@photo.server_url}", width: '300' %>
</p>

<p>
  <strong>Server URL:</strong>
  <%= @photo.server_url %>
</p>

<p>
  <strong>Cache Hit:</strong>
  <%= @photo.cache_hit %>
</p>

<p>
  <strong>Server Processing Time:</strong>
  <%= @photo.processing_time %>
</p>

<p>
  <strong>Download Time:</strong>
  <%= @photo.download_time %>
</p>

<p>
  <strong>Connection Started:</strong>
  <%= @photo.connection_started %>
</p>

<p>
  <strong>Started Receiving Data:</strong>
  <%= @photo.start_time %>
</p>

<p>
  <strong>Finished Receiving Data:</strong>
  <%= @photo.end_time %>
</p>

<p>
  <strong>Size:</strong>
  <%= @photo.size %>
</p>

<p>
  <strong>Response Headers:</strong>
  <%= @photo.response_headers %>
</p>

<%= link_to 'Back', photos_path %>
